/*
	MidNighth Theme Diffusion
	- Color: Magenta
	- Author: Kwilz
	https://whitewolf.su
*/

@import url(https://raw.githubusercontent.com/KwilzOne/MidNight-Theme-Diffusion/whitewolf/assets/SD-Core.css);

:root, .dark {
	--neutral-50: #fbfbfb !important;
	--neutral-100: #e5e5e5 !important;
	--neutral-200: #a3a3a3 !important;
	--neutral-300: #dddddd !important;
	--neutral-400: #7e7e7e !important;
	--neutral-500: #606060 !important;
	--neutral-600: #202020 !important;
	--neutral-700: #2a2a2a !important;
	--neutral-800: #101010 !important;
	--neutral-900: #141414 !important;
	--neutral-950: #0c0c0c !important;
	--primary-50: #ffedfe !important;
	--primary-100: #f8d5ff !important;
	--primary-200: #ecaafe !important;
	--primary-300: #ed74fd !important;
	--primary-400: #f63cfb !important;
	--primary-500: #6116f9 !important;
	--primary-600: #a70cea !important;
	--primary-700: #bd0cc2 !important;
	--primary-800: #90129a !important;
	--primary-900: #7c127a !important;
	--primary-950: #59126c !important;
	--secondary-50: #fbefff !important;
	--secondary-100: #fcdbfe !important;
	--secondary-200: #febffc !important;
	--secondary-300: #fd93f0 !important;
	--secondary-400: #fa60e0 !important;
	--secondary-500: #713bf6 !important;
	--secondary-600: #8a00ff !important;
	--secondary-700: #b21dd8 !important;
	--secondary-800: #8b1eaf !important;
	--secondary-900: #831e8a !important;
	--secondary-950: #401d60 !important;
	--slider-color: #8a00ff !important;
	--shadow-color: #7e00ff59 !important;
}